@font-face {
	font-family: 'lobster';
	src: url(../fonts/lobster-regular-webfont.woff2) format("woff2"), url(../fonts/lobster-regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}
@font-face {
	font-family: 'roboto condensed';
	src: url(../fonts/robotocondensed-regular-webfont.woff2) format("woff2"), url(../fonts/robotocondensed-regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}
table {
	border-collapse: collapse
}
*, a:active, a:hover, select {
	outline: 0
}
.table-main {
	width: 100%
}
select {
	outline: none!important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(https://179523.selcdn.ru/public/layout-images/select-triangle.svg);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px 10px
}
select:hover {
	background-size: 10px 10px;
	background-position: right 10px center
}
select:focus {
	outline: none!important;
	outline-color: transparent;
	outline-width: 0
}
select::-ms-expand {
	display: none!important;
	background: none!important;
	position: fixed;
	border: none!important;
	outline: none!important
}
button::-moz-focus-inner, select::-moz-focus-inner {
	border: none
}
:not(#fake) {
	outline: none
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}
* {
	box-sizing: border-box
}
.oldprice {
	text-decoration: line-through
}
a {
	text-decoration: none
}
br {
	font-family: Arial
}
.custom-table {
	width: 500px;
	vertical-align: top
}
body {
	font: 17px/25px Georgia, "Times New Roman", Times, serif
}
a {
	color: #a82720
}
a:hover {
	text-decoration: underline
}
input, select {
	font: 100% Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
	color: #000;
	outline: 0
}
form {
	margin: 0;
	padding: 0;
	border-style: none
}
.block1__top-sale, .wrapper, .wrapper-hidden {
	position: relative
}
img {
	border: 0
}
html {
	font-family: sans-serif
}
td {
	padding: 0
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0;
	min-width: 1000px;
	background: url(../img/img1.0.1.png) center 0 repeat-x #3a1a2d;
	color: #2c4341
}
div.section {
	display: block
}
a {
	background-color: transparent
}
small {
	font-size: 80%
}
button, input, select {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
.block10__sale, .block1__top, .block__timer-text, .form-horizontal .row label {
	text-transform: uppercase
}
button {
	-webkit-appearance: button;
	cursor: pointer
}
select {
	cursor: pointer
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input {
	line-height: normal
}
table {
	border-spacing: 0
}
.wrapper-hidden {
	overflow: hidden;
	width: 100%;
	height: 100%
}
.wrapper {
	z-index: 2;
	margin: 0 auto;
	width: 1020px;
	padding: 0 10px
}
ul {
	padding: 0;
	margin: 0 0 10px 25px
}
li {
	line-height: 20px
}
ul.inline, ul.unstyled {
	margin-left: 0;
	list-style: none
}
ul.inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px
}
.block1__top-sale::before, .block2__top .wrapper::before, .block4 ul li::before, .block5__wrap::before {
	content: ''
}
.block__timer {
	text-align: center;
	vertical-align: top
}
.block__timer .landing__countdown {
	display: block;
	width: 215px;
	margin: 17px auto;
	padding: 0;
	height: 42px
}
.block__timer .landing__countdown span {
	font: 400 26px/40px 'Roboto Condensed', Lobster, sans-serif;
	color: #411c32;
	display: inline-block;
	width: 61px;
	background: url(../img/img1.6.png) no-repeat;
	height: 42px;
	margin: 0 5px;
	text-align: center;
	letter-spacing: 20px;
	padding-left: 8px
}
.countdown__entities {
	display: none
}
.block1__left, .block1__top-sale, .prices {
	display: inline-block
}
.block1 .wrapper {
	background: url(../img/img1.0.png) center bottom no-repeat
}
.block1__top {
	font: 400 23px/50px 'Roboto Condensed', Lobster;
	color: #FFf
}
.block1__top-sale {
	font: 400 35px/40px Lobster;
	width: 106px;
	text-align: center;
	vertical-align: middle
}
.block4 ul li, .block6 ul li, .prices {
	vertical-align: top
}
.block1__top-sale::before {
	position: absolute;
	background: url(../img/img1.1.png) no-repeat;
	width: 106px;
	height: 100px;
	left: 0;
	top: -28px;
	z-index: -1
}
.block1__top-action {
	text-align: center;
	color: #ffcc19;
	position: relative;
	font: 400 23px/50px 'Roboto Condensed', Lobster, sans-serif
}
.block1__body {
	position: relative;
	padding-bottom: 120px
}
.block1__left {
	width: 350px;
	padding: 40px 0 0
}
.block1__right {
	width: 32.5%;
	float: right;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin-top: -50px
}
.block4__bottom img, .block5 img {
	float: left
}
.block-action {
	height: 222px;
	background: #b7064d;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px
}
.block1__title {
	padding: 50px 0 30px;
	font: 400 44px/45px Lobster;
	color: #ffcc19
}
.block1__price {
	font: 400 30px/53px Lobster;
	color: #b7064d;
	background: url(../img/img1.4.png) center 0 no-repeat;
	height: 66px
}
.prices {
	width: 40%;
	text-align: center
}
.block__timer-text {
	color: #FFf;
	font: 300 14px/35px 'Roboto Condensed', Lobster
}
.block1__right ul {
	margin: 90px 0 0;
	padding: 0
}
.block1__right ul li {
	font: 300 22px/30px 'Roboto Condensed', Lobster;
	color: #FFf;
	padding: 5px 0 5px 55px;
	text-align: left;
	background: url(../img/img1.7.png) left center no-repeat
}
.block3__list ul, .block3__title, .block4__title, .block5__title, .block6 ul, .block6__title {
	text-align: center
}
.block2 {
	font: 300 20px/28px 'Roboto Condensed', Lobster;
	color: #FFf;
	height: 463px
}
.block2 .wrapper-hidden {
	padding-top: 18px;
	margin-top: -18px
}
.block2__top {
	background: #b7064d;
	position: relative
}
.block2__top .wrapper {
	padding: 25px 0 35px 215px;
	height: 255px;
	background: url(../img/img2.0.webp) center 0 no-repeat
}
.block2__top .wrapper::before {
	position: absolute;
	background: url(../img/img2.webp) no-repeat;
	width: 1069px;
	height: 455px;
	left: -10px;
	top: -15px
}
.block2__bottom {
	background: #612549
}
.block2__title {
	font: 400 31px/30px Lobster;
	color: #ffce22;
	padding-left: 215px
}
.block3 .wrapper {
	background: url(../img/img3.0.png) center center no-repeat
}
.block3__title {
	font: 400 40px/40px Lobster;
	color: #ffce22;
	padding: 40px 0 10px
}
.block3__list ul li {
	vertical-align: top;
	color: #FFf;
	width: 328px;
	text-align: center;
	font: 300 20px/30px 'Roboto Condensed', Lobster;
	padding-top: 200px;
	margin-bottom: 15px
}
.block3__list ul li .block3__list_title {
	text-transform: uppercase;
	color: #ffce22;
	font: 400 22px/30px 'Roboto Condensed', Lobster
}
.block3__list .item1 {
	background: url(../img/img3.1.webp) center 0 no-repeat
}
.block3__list .item2 {
	background: url(../img/img3.2.webp) center 0 no-repeat
}
.block3__list .item3 {
	background: url(../img/img3.3.webp) center 0 no-repeat
}
.block3__list .item4 {
	background: url(../img/img3.4.webp) center 0 no-repeat
}
.block3__list .item5 {
	background: url(../img/img3.5.webp) center 0 no-repeat
}
.block4 {
	background: #ffce22;
	height: 570px
}
.block4 .wrapper {
	height: 428px
}
.block4__title {
	font: 400 40px/40px Lobster;
	color: #3a1a2d;
	padding: 40px 0
}
.block4 ul li {
	padding: 40px 35px 0;
	width: 330px;
	position: relative;
	height: 446px;
	color: #3a1a2d;
	font: 300 18px/22px 'Roboto Condensed', Lobster
}
.block4 ul li::before {
	position: absolute;
	background: url(../img/img3.6.png) no-repeat;
	width: 346px;
	height: 445px;
	left: -8px;
	top: 0;
	z-index: -1
}
.block4__top {
	height: 288px
}
.block4__bottom_name {
	margin-left: 100px;
	color: #bc0831
}
.block5 {
	margin-top: -142px;
	padding-top: 190px;
	background: url(../img/img4.0.png) center bottom no-repeat #3a1a2d
}
.block5__title {
	font: 400 40px/40px Lobster;
	color: #ffce22;
	padding: 0 0 40px
}
.block5__wrap {
	height: 300px;
	margin-left: 345px;
	background: #612549;
	border-radius: 20px 20px 0 0;
	font: 300 20px/27px 'Roboto Condensed', Lobster;
	padding: 15px 15px 14px;
	color: #FFf;
	position: relative
}
.block5__wrap::before {
	position: absolute;
	background: url(../img/img4.1.png) no-repeat;
	width: 50px;
	height: 33px;
	left: -25px;
	top: 110px
}
.block10 .wrapper::before, .block10__title::before, .block7 .wrapper-hidden::before {
	content: '';
	left: 0
}
.block5__name {
	color: #ffce22;
	padding: 40px 0 14px
}
.block6 {
	background: #fff
}
.block6 .wrapper {
	padding: 40px 0
}
.block6__title {
	font: 400 40px/40px Lobster;
	color: #612549;
	padding: 0 0 40px
}
.block6 ul li, .block7__delivery {
	font: 300 20px/30px 'Roboto Condensed', Lobster
}
.block6 ul {
	background: url(../img/img5.webp) center 0 no-repeat
}
.block6 ul li {
	padding-top: 160px;
	color: #b7064d;
	width: 305px
}
.block7 {
	height: 400px
}
.block7 .wrapper-hidden {
	padding-top: 40px;
	margin-top: -40px;
	height: auto;
	padding-bottom: 180px
}
.block7 .wrapper-hidden::before {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 380px;
	background: #612549
}
.block7__delivery {
	color: #FFf;
	padding-right: 318px;
	position: relative
}
.block7__delivery::before {
	content: '';
	position: absolute;
	background: url(../img/img6.3.webp) no-repeat;
	width: 372px;
	height: 347px;
	right: -70px;
	top: -40px
}
.block7__delivery_title {
	font: 400 40px/40px Lobster;
	color: #ffce22;
	text-align: left;
	padding: 30px 0 20px
}
.block10__price, .block8 ul, .block8 ul li {
	text-align: center
}
.block8__title {
	font: 400 40px/40px Lobster;
	color: #ffce22;
	padding: 30px 0
}
.block8 ul {
	background: url(../img/img7.1.webp) center 0 no-repeat
}
.block8 ul li {
	padding-top: 190px;
	width: 325px;
	color: #FFf;
	font: 300 18px/50px 'Roboto Condensed', Lobster
}
.block10 {
	margin-top: 80px;
	background: url(../img/img8.0.png) left 0 repeat-x;
	height: 450px
}
.block10__left {
	background: url(../img/img8.5.png) 20px 38px no-repeat
}
.block10 .wrapper::before {
	position: absolute;
	background: url(../img/img8.0.1.webp) no-repeat;
	width: 1000px;
	height: 450px;
	top: 0;
	z-index: -1
}
.block10__title {
	color: #FFf;
	font: 700 35px/40px Lobster;
	padding: 55px 0 0 195px;
	position: relative
}
.block10__title::before {
	position: absolute;
	background: url(../img/img8.webp) no-repeat;
	width: 226px;
	height: 405px;
	top: -50px;
	z-index: 1
}
.block10__price {
	position: relative;
	background: url(../img/img8.4.png) left 0 no-repeat;
	width: 284px;
	height: 73px;
	margin: 25px 0 0 180px
}
.block10__price .newprice, .block10__price .oldprice {
	font: 400 27px/70px 'Roboto Condensed', Lobster;
	width: 49%;
	display: inline-block;
	vertical-align: top
}
.block10__price .oldprice {
	color: #fcc524;
	text-decoration: line-through
}
.block10__price .newprice {
	color: #b7064d
}
.block10__sale {
	width: 350px;
	font: 400 20px/25px 'Roboto Condensed', Lobster;
	color: #f5b429;
	margin: 20px 0 20px 110px;
	padding: 0 0 0 20px
}
.block10-form {
	padding: 20px;
	margin: 38px 40px 0 20px;
	width: 440px;
	border-radius: 20px;
	background: #b7064d;
	box-sizing: border-box
}
.akciya1, .block11 {
	text-align: center
}
.form-horizontal {
	margin-bottom: 0
}
.form-horizontal .row {
	margin-bottom: 20px
}
.form-horizontal .row input[type=tel], .form-horizontal .row input[type=text], .country-select {
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	border: 1px solid #ae1f22;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px #f5eedc inset;
	box-sizing: border-box;
	display: block
}
.form-horizontal .row input[type=tel]:focus, .form-horizontal .row input[type=text]:focus, .country-select:focus {
	background-color: #fff
}
.form-horizontal .row label {
	display: block;
	color: #FFf;
	font: 400 23px/23px 'Roboto Condensed', Lobster;
	padding-bottom: 10px
}
.form-horizontal .row label small {
	float: right;
	color: #ffae2b;
	font: italic 14px/14px 'Roboto Condensed', Lobster;
	text-transform: capitalize
}
.form-horizontal .row-submit {
	margin-bottom: 0
}
.row-submit button, .row-submit button:active, .row-submit button:focus, .row-submit button:hover {
	vertical-align: top;
	margin: 0 auto;
	text-transform: uppercase;
	height: 50px
}
.block11 {
	margin-top: 0;
	background: #3a1a2d;
	color: #b7064d;
	font: 400 16px/26px 'Roboto Condensed', Lobster
}
.block11 .wrapper {
	z-index: 0
}
.imlogo {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -200px
}
.akciya1 {
	font: 300 14px/35px 'Roboto Condensed', Lobster;
	display: block;
	max-width: 270px;
	width: 100%;
	margin: -5px auto;
	padding: 5px 0;
	background-color: #F90;
	border: 0;
	border-radius: 8px;
	color: #FFF;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}
.akciya1:hover {
	text-decoration: none;
	background-color: #FF3;
	color: #C00;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .5)
}
.block1__left img {
	max-width: 175px;
	display: block;
	height: auto;
	margin-left: 60px
}
.ever-popup__inner {
	background: url(../img/popup.png) no-repeat;
	background-size: cover;
	height: auto;
	padding: 30px
}
.ever-popup__inner .block10-form {
	margin: 0
}
@media screen and (max-width:1050px) {
	.x_country_select:after {
		bottom: 12px
	}
	.block10, .block2, .block2__top .wrapper, .block3, .block4, .block4 .wrapper, .block4 ul li, .block4__top, .block7, .block7 .wrapper-hidden, .wrapper-hidden {
		height: auto
	}
	.ever-popup__inner table, tbody, td, tr {
		width: 100%;
		display: block
	}
	.wrapper {
		width: auto
	}
	.block7 .wrapper-hidden {
		padding-bottom: 30px
	}
	.custom-table {
		width: 100%
	}
	.block2__title, .block2__top .wrapper, .block6 .wrapper {
		padding: 20px
	}
	.block1__price {
		height: auto;
		background: 0 0
	}
	.wrapper {
		padding: 0 10px
	}
	.block1__body:after {
		content: '';
		display: table;
		clear: both
	}
	.block2__top .wrapper::before, .block4 ul li:before, .block5__wrap:before, .imlogo {
		display: none;
		background: none
	}
	.block1__right {
		width: 50%;
		margin: 0
	}
	.block1__left {
		float: left;
		width: 50%
	}
	.block1__right ul {
		margin: 20px 0 0
	}
	.block4 ul li+li, .block4__bottom {
		margin-top: 20px
	}
	.block1__body {
		padding-bottom: 20px
	}
	.prices {
		width: 100%;
		color: #fff
	}
	.block-action {
		height: auto;
		padding: 5px 0
	}
	.block1__title, .block2__title, .block3__title, .block4__title, .block5__title, .block6__title, .block8__title {
		text-align: center;
		font-size: 32px
	}
	.block1__title {
		text-align: left;
		padding-bottom: 10px
	}
	.block10__title, .block7__delivery, .block7__delivery_title {
		text-align: center
	}
	body {
		min-width: auto
	}
	.wrapper-hidden {
		width: auto
	}
	ul.inline {
		font-size: 0
	}
	.block4 ul li {
		width: 100%;
		background: #fff;
		border-radius: 6px;
		padding: 25px;
		font-size: 18px
	}
	.block10, .block10__left, .block6 ul, .block8 ul {
		background: 0 0
	}
	.block4__bottom img {
		max-width: 75px
	}
	.block5__wrap {
		margin: 0;
		height: auto
	}
	.block5 img {
		float: none;
		display: block;
		max-width: 80%;
		height: auto;
		margin: auto
	}
	.block7__delivery:before {
		display: none
	}
	.block6 ul li, .block8 ul li {
		width: 100%;
		padding: 0;
		margin-top: 0
	}
	.block7__delivery {
		padding: 0;
		width: 70%;
		margin: auto
	}
	.block8__title {
		padding-bottom: 0
	}
	.block10 table, .block10 tbody, .block10 td, .block10 tr {
		width: 100%;
		display: block
	}
	.block10 .wrapper::before, .block10__title:before {
		display: none
	}
	.block10 {
		overflow: hidden;
		margin: 0 auto;
		max-width: 480px
	}
	.block10-form {
		width: 100%;
		margin: 20px 0 0;
		padding: 10px
	}
	.form-horizontal .row {
		margin-bottom: 10px
	}
	.block10__price, .block10__sale {
		margin: 10px auto 0
	}
	.form-horizontal input, .form-horizontal select {
		height: 30px!important;
		line-height: 1!important;
		font-size: 13px
	}
	.form-horizontal .row label {
		font-size: 16px;
		padding-bottom: 0
	}
	.block10__title {
		padding: 20px 0 0
	}
	.block10__sale {
		padding: 0;
		max-width: 300px;
		width: auto
	}
	.block10 table {
		background: linear-gradient(#ff8522, #b7064d 60%) #b7064d;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px
	}
	.block3__list ul li {
		width: auto;
		max-width: 328px
	}
	.block10 table {
		border-radius: 10px
	}
	.block1__title {
		padding: 15px 0
	}
}
@media screen and (max-width:700px) {
	.block1__left, .block1__title, .block1__top {
		text-align: center
	}
	.block1__left, .block1__right {
		float: none;
		width: 100%
	}
	.block1__left img {
		margin: auto
	}
	.block1__right ul {
		margin: 20px 0 0
	}
	.block1__body {
		padding-bottom: 20px
	}
	.block1__price {
		background: 0 0
	}
	.block-action {
		border-radius: 15px
	}
}
@media screen and (max-width:480px) {
	.block4 ul li::before, .block5, .block7__delivery::before, .block10__title::before, .block1 .wrapper {
		background: none
	}
	.ever-popup__inner {
		padding: 7px
	}
	.form-horizontal .row label small {
		display: block;
		float: none;
		text-align: right
	}
	.block3 .wrapper {
		background: none
	}
	body{
		background: url(../img/img1.0.1-mob.png) center 0 repeat-x #3a1a2d;
	}
	.block2__top .wrapper{
		background: none;
	}
}